*, 
*:before,
*::after {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

header {
  position: fixed;
  top: 3%;
  left: 5%;
  width: 20vw;
  border-radius: 5px; 
}

header > h3 {
  font-weight: 900;
  font-size: 2em;
}

body {
  background: white;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: rgba(7, 7, 7, 0.6);
}

main {
  display: flex;
  width: 100%;
}

#left-pane-container {
  position: relative;
  width: 50vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#left-pane {
  position: fixed;
  padding: 0 15px;
  height: 40%;
}

#name {
  font-size: 29px;
  margin-bottom: -10px;
}

#role {
  font-size: 20px;
}

#name,
#role {
  font-weight: 800;

}

nav {
  margin-top: 40px;
}

.nav {
  color: rgba(7, 7, 7, 0.452);
  padding: 3px;
  font-size: 0.9em;
  font-weight: 700;
  cursor: pointer;
  width: fit-content;
}

#right-pane {
  width: 70vw;
  padding: 8%;
}

img {
  display: block;
  width: 80%;
  margin: auto;
}

#icons-container {
  margin: 80px 90px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 130px;
}

#icons-container > a {
  font-size: 20px;
}

a {
  text-decoration: none;
}

.project {
  margin: 0;
}

#about-text > p,
.project > p {
  letter-spacing: 0.2px;
  word-spacing: 1.5px;
  line-height: 1.5;
}

.project > p {
  font-size: 0.95em;
}

#resume {
  display: block;
  margin: 30px 0;
}

footer {
  margin-top: 10em;
  letter-spacing: 0.2px;
  word-spacing: 1.5px;
  line-height: 1.5;
  font-size: 0.95em;
}

#contact > a {
  display: block;
  width: fit-content;
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: 600;
  margin: 2em 0 2em 120px ;
}

#contact > p,
#about-text > p,
.project > p {
  font-weight: 600;
}

#about-hd,
#projects-hd,
#contact-hd {
  font-weight: 800;
  margin-bottom: 20px;
}

cite {
  display: block;
  text-align: center;
  font-style: normal;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 12px;
}

#theme {
  position: fixed;
  left: 7px;
  bottom:7px;
  font-size: 1em;
  border-radius: 17px;
  padding: 2px 2px;
  background-color: #245c69;
  background-color: #2e7686;
}
#about,
#projects-container {
  padding-bottom: 20vh;
  margin-top: -1px;
}

#resume-link-icon {
  font-size: 14px;
}

.stack {
  background: rgba(0, 0, 0, 0.137);
  border-radius: 7px;
  width: fit-content;
}

.usedStack {
  display: inline-block;
  width: fit-content;
  padding: 4px;
  margin: 12px 4px;
  font-weight: 600;
}

#project-link-umo {
 font-size: 12px;
 margin-left: 5px;
}

#scrimba {
  font-weight: 700;
}

#theRocket {
  margin: auto;
  height: 50px;
  width: 100px;
  margin-bottom: 50px;
}

.fa-rocket {
  display: block;
  transform: rotate(-45deg);
  font-size: 1.5em;
  margin: auto;
}

#tooltip-rocket {
 font-size: 12px;
 text-align: center;
 margin: auto;
}

.project-info-container {
  width: 400px;
  height: 205px;
  border-radius: 8px;
  margin: 2em 0;
  background-image: url(/public/umoImage.png);
  background-position:center;
  background-repeat: no-repeat;
  background-size:100%;
}

.project-info-container > #inner-one {
 background-color: rgba(0, 0, 0, 0.76);
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 border-radius: 8px;
}

#inner-one > h3 {
  font-weight: 800;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.233);
  margin-bottom: 40px;
}


#inner-one > h5 {
  font-weight: 600;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.233);
  width: 70%;
  text-align: center;
}

.link-icons {
  display: inline-block;
  border-radius: 6px;
  padding: 6px 8px; 
  margin: 8px 0;
  box-shadow: 0 0 8px ;
}

.link-icons > .fa-github,
.link-icons > .fa-arrow-up-right-from-square {
  padding: 0 6px;
  font-size: 1.2em;
  cursor: pointer;
}

.link-icons > .fa-arrow-up-right-from-square {
  font-size: 1em;
}

#theme-name {
  position: fixed;
  bottom: 10px;
  left: 6%;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-weight: 500;
  margin-left: 3px;
}


.fa-moon,
.fa-fire-flame-curved {
  padding: 2px 4px;
  margin: 1px;
  border-radius: 150px;
}

.fa-fire-flame-curved {
  margin-left: 10px;
  color: #00E980;
}

.fa-sun {
  padding: 2px 2px;
  margin: 1px;
  border-radius: 150px;
}